<div class="w-64 h-screen bg-indigo-700 text-white fixed">

    <div class="p-6 text-xl font-bold border-b border-indigo-500">
        Admin Panel
    </div>

    <nav class="mt-6 space-y-1">

        <!-- Dashboard -->
        <a href="/" class="flex items-center gap-3 px-6 py-3 hover:bg-indigo-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3 12l9-9 9 9M4.5 10.5V21h15V10.5" />
            </svg>
            Dashboard
        </a>

        <!-- Produk -->
        <a href="/products" class="flex items-center gap-3 px-6 py-3 hover:bg-indigo-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.089v6.5a2.25 2.25 0 0 1-2.25 2.25H4.5A2.25 2.25 0 0 1 2.25 17.1v-6.5c0-.96.616-1.805 1.5-2.089M20.25 8.511V6.75A2.25 2.25 0 0 0 18 4.5H6A2.25 2.25 0 0 0 3.75 6.75v1.761" />
            </svg>
            Produk
        </a>

        <!-- Pembelian -->
        <a href="/purchases" class="flex items-center gap-3 px-6 py-3 hover:bg-indigo-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 3h1.386a1.5 1.5 0 0 1 1.342.832l.548 1.096m0 0L7.5 14.25h9l1.98-7.304M5.526 4.928h14.61M7.5 14.25 6.75 18m12-3.75L17.25 18m-10.5 0h10.5" />
            </svg>
            Pembelian
        </a>

        <!-- Input -->
        <a href="/purchase/create" class="flex items-center gap-3 px-6 py-3 hover:bg-indigo-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Input Pembelian
        </a>

    </nav>

</div>